@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Radio Canada', sans-serif;
}

body {
    background: rgb(255, 239, 0);
    background: linear-gradient(0deg, rgba(255, 239, 0, 1) 0%, rgba(228, 213, 93, 1) 49%, rgba(231, 158, 0, 1) 100%);
    background-image: url(../images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.BlurFondo {
    position: fixed;
    z-index: -1;
    background-color: white;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
}

.container {
    margin: 0 2rem 0 2rem;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    background: #BD611A;
    background: linear-gradient(to bottom, #BD611A 0%, #1B1B1B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.imageTortaFrita {
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    text-align: justify;
    font-size: 1.5rem;
    padding: 3%;
    font-weight: bolder;
}

h2 {
    text-decoration: underline;
    margin-bottom: 0.2rem;
}

ul,
ol {
    margin-bottom: 1rem;
    padding: 1%;
}

.video {
    width: 50%;
    height: 50vh;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map {
    /*width: 50%;
    height: 30vh;*/
    border: none;
    width: 300px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.TextAudio {
    font-style: italic;
    font-weight: bolder;
}